@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import 'tailwindcss';
@import 'tailwind-scrollbar-hide/v4';

@config "../tailwind.config.js";
